<!DOCTYPE html>
<html lang="en">
    <%-include('./partial/head.ejs') %>
    <body>
        <h1>Welcome To create PAGE!! MAhesh</h1>
        
            <%-include('./partial/nav.ejs') %>

        <br><br>
         <form>
                    <label>Name</label>
                    <input type="text" id="title" required><br><br>
                    <label>USN</label>
                    <input type="text" id="title" required><br><br>
                    <label>Branch</label>
                    <input type="text" id="title" required><br><br>
        </form>
            
         <%-include('./partial/footer.ejs')%> 
    </body>


</html>

