<!DOCTYPE html>
<html lang="en">
    <%-include('./partial/head.ejs') %>
    <body>
        <%-include('./partial/nav.ejs') %>

        <h1>Welcome To ABOUT PAGE</h1>

        <p> It is my  first NODE JS project.
            It is my  first NODE JS project.
            It is my  first NODE JS project.
            It is my  first NODE JS project   
         </p>  

    

    <%-include('./partial/footer.ejs')%>

    </body>


</html>