<head>
    <meta charset="UTF-8"/>
    <title>hy | <%=title%></title>

    <link rel="stylesheet" href="/style.css">


    <style>
        
        body{
     
            color: black;
        }
    </style>
</head>